<div id="content" class="span12">
<h2>Batch Ingest</h2>
  <table class="table table-striped table-bordered table-condensed">
    <caption class="sr-only">Ingest Jobs</caption>
    <thead>
      <tr>
	<th scope="col">Directory</th>
	<th scope="col">Type</th>
	<th scope="col">Status</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      <% for task in @tasks %>
      <tr>
	<td>
          <a href="<%= bulk_task_path(task.id) %>">
	    <%= task.directory %>
	  </a>
	</td>
	<td>
	  <%= task.type.to_s.humanize.downcase %>
	</td>
	<td>
	  <%= task.status.to_s.humanize %>
	</td>
	<td class="button-cell">
	  <% if task.ingestible? %>
          <a href="<%= ingest_bulk_task_path(task.id) %>" data-method="put" >
	    <span class="btn btn-success">
              <i class="icon-plus icon-white"></i>
	      Ingest <span class="sr-only"><%= task.directory %></span>
            </span>
	  </a>
	  <% end %>
	  <% if task.failed? or task.ingestible? or task.validating? %>
          <a href="<%= reset_bulk_task_path(task.id) %>" data-method="put" >
	    <span class="btn btn-warning">
              <i class="icon-plus icon-white"></i>
	      Reset <span class="sr-only"><%= task.directory %></span>
            </span>
	  </a>
	  <% end %>
	  <% if task.ingested? %>
	  <% if not task.reviewed?%>
          <a href="<%= review_all_bulk_task_path(task.id) %>" data-method="put"
	     data-confirm="Are you sure you want to review all items in '<%= task.directory %>'?">
	    <span class="btn btn-primary">
              <i class="icon-plus icon-white"></i>
	      Review All <span class="sr-only"><%= task.directory %></span>
	    </span>
	  </a>
	  <% end %>
          <a href="<%= delete_bulk_task_path(task.id) %>" data-method="delete"
	     data-confirm="Are you sure you want to remove all items from '<%= task.directory %>'?">
	    <span class="btn btn-danger">
              <i class="icon-remove icon-white"></i>
              Delete All <span class="sr-only"><%= task.directory %></span>
	    </span>
	  </a>
	  <% end %>
	</td>
      </tr>
      <% end %>
    <tbody>      
  </table>
</div>
