<% content_for :page_title, "Batch Ingest Job: " + @task.directory %>

<div id="content" class="span9">
  <h2>
    Batch Ingest Job: <%= @task.directory %>
    <span class="label label-info">Status: <%= @task.status.to_s.humanize.downcase %></span>
    <span class="label label-info">Type: <%= @task.type.to_s.humanize.downcase %></span>
  </h2> 

  <% unless @task.bulk_task_children.blank? %>
    <table class="table">
      <thead>
        <th>Bulk Task</th>
        <th>Ingested Asset</th>
        <th>Status</th>
        <th>Target</th>
        <th>Created</th>
        <th>Modified</th>
      </thead>
      <tbody>
        <% @task.bulk_task_children.each do |child| %>
          <tr>
            <td class="child-link"><%=link_to child.id, child %></td>
            <% if child.ingested_pid.blank? %>
              <td></td>
            <% else %>
              <td><%= link_to child.ingested_pid, reviewer_path(child.ingested_pid)%></td>
            <% end %>
            <td><%= child.status %></td>
            <td><%= child.target %></td>
            <td><%= child.created_at %></td>
            <td><%= child.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="sidebar" class="span3">
  <div id="sidebar-nav" class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Actions</li>
      <% @task.task_buttons.each do |key, button| %>
        <% if button[:requirement] %>
          <li>
          <a href="<%= button[:path] %>" data-method="<%= button[:method] || "put" %>" data-confirm="<%= button[:notify] %>">
            <span class="btn btn-<%= button[:class] || "success" %>">
              <i class="icon-plus icon-white"></i>
              <%= key %> <span class="sr-only"><%= @task.directory %></span>
            </span>
          </a>
          </li>
        <% end %>
      <% end %>
  </div>
</div>
