<div id="content" class="span9">
  <h2>
    Batch Ingest Job: <%= @task.directory %>
    <span class="label label-info">Status: <%= @task.status.to_s.humanize.downcase %></span>
    <span class="label label-info">Type: <%= @task.type.to_s.humanize.downcase %></span>
  </h2> 

  <% unless @task.asset_ids.nil? %>  
  <h3>Assets Loaded</h3>
  <ul>
    <% for id in @task.asset_ids %>
    <li>
      <a href="<%= reviewer_path(id) %>" >
	<%= id %>
      </a>
    </li>
    <% end %>
  </ul>
  <% end %>

  <% unless @task.bulk_errors.nil? %>
  <% if task.bulk_errors.keys.include? :fields %>
  <h3>Invalid Fields/Properties</h3>
  <ul>
    <% for field in @task.bulk_errors[:fields] %>
    <li><%= field %></li>
    <% end %>
  </ul>
  <% end %>

  <% if task.bulk_errors.keys.include? :fields %>
  <h3>Invalid Values</h3>
  <ul>
    <% for value in @task.bulk_errors[:fields] %>
    <li><%= value %></li>
    <% end %>
  </ul>
  <% end %>

  <% if task.bulk_errors.keys.include? :files %>
  <h3>Missing Flies</h3>
  <ul>
    <% for file in @task.bulk_errors[:files] %>
    <li><%= file %></li>
    <% end %>
  </ul>
  <% end %>
  <% end %>
</div>

<div id="sidebar" class="span3">
  <div id="sidebar-nav" class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Actions</li>
      <% if @task.ingestible? %>
      <li>
	<a href="<%= ingest_bulk_task_path(@task.id) %>" data-method="put" >
	  <span class="btn btn-success">
            <i class="icon-plus icon-white"></i>
	    Ingest <span class="sr-only"><%= @task.directory %></span>
	  </span>
	</a>
      </li>
      <% end %>

      <% if @task.ingested? and not @task.reviewed?%>
      <li>
	<a href="<%= review_all_bulk_task_path(@task.id) %>" data-method="put"
	   data-confirm="Are you sure you want to review all items in '<%= @task.directory %>'?">
	  <span class="btn btn-primary">
            <i class="icon-plus icon-white"></i>
	    Review All <span class="sr-only"><%= @task.directory %></span>
	  </span>
	</a>
      </li>

      <li>
	<a href="<%= delete_all_bulk_task_path(@task.id) %>" data-method="put"
	   data-confirm="Are you sure you want to remove all items from '<%= @task.directory %>'?">
	  <span class="btn btn-danger">
            <i class="icon-remove icon-white"></i>
            Delete All <span class="sr-only"><%= @task.directory %></span>
	  </span>
	</a>
      </li>
      <% end %>
  </div>
</div>
