<div id="content" class="span9">
  <h2>
    Batch Ingest Job: <%= @task.directory %>
    <span class="label label-info">Status: <%= @task.status.to_s.humanize.downcase %></span>
    <span class="label label-info">Type: <%= @task.type.to_s.humanize.downcase %></span>
  </h2> 

  <% unless @task.bulk_task_children.blank? %>
    <table class="table">
      <thead>
        <th>Bulk Task</th>
        <th>Ingested Asset</th>
        <th>Status</th>
        <th>Created</th>
        <th>Modified</th>
      </thead>
      <tbody>
        <% @task.bulk_task_children.each do |child| %>
          <tr>
            <td><%=link_to child.id, child %></td>
            <% if child.ingested_pid.blank? %>
              <td></td>
            <% else %>
              <td><%= link_to child.ingested_pid, reviewer_path(child.ingested_pid)%></td>
            <% end %>
            <td><%= child.status %></td>
            <td><%= child.created_at %></td>
            <td><%= child.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="sidebar" class="span3">
  <div id="sidebar-nav" class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Actions</li>
      <% if @task.ingestible? %>
      <li>
	<a href="<%= ingest_bulk_task_path(@task.id) %>" data-method="put" >
	  <span class="btn btn-success">
            <i class="icon-plus icon-white"></i>
	    Ingest <span class="sr-only"><%= @task.directory %></span>
	  </span>
	</a>
      </li>
      <% end %>
      <% if @task.errored? %>
      <li>
	<a href="<%= ingest_bulk_task_path(@task.id) %>" data-method="put" >
	  <span class="btn btn-success">
            <i class="icon-plus icon-white"></i>
	    Retry Ingest <span class="sr-only"><%= @task.directory %></span>
	  </span>
	</a>
      </li>
    <% end %>

      <% if @task.ingested? and not @task.reviewed?%>
      <li>
	<a href="<%= review_all_bulk_task_path(@task.id) %>" data-method="put"
	   data-confirm="Are you sure you want to review all items in '<%= @task.directory %>'?">
	  <span class="btn btn-primary">
            <i class="icon-plus icon-white"></i>
	    Review All <span class="sr-only"><%= @task.directory %></span>
	  </span>
	</a>
      </li>

      <li>
	<a href="<%= delete_bulk_task_path(@task.id) %>" data-method="delete"
	   data-confirm="Are you sure you want to remove all items from '<%= @task.directory %>'?">
	  <span class="btn btn-danger">
            <i class="icon-remove icon-white"></i>
            Delete All <span class="sr-only"><%= @task.directory %></span>
	  </span>
	</a>
      </li>
      <% end %>
  </div>
</div>
