<% content_for :page_title, "Advanced Search" %>

<%= form_tag catalog_index_path, :class => 'advanced', :method => :get do  %>

  <%= search_as_hidden_fields(:params => advanced_search_context ) %>

  <div class="input_columns row">

      <div class="query_column span6">
        <h4>Find items that match <%= select_tag(:op, options_for_select({'all'=>'AND','any'=>'OR'}.sort,'all'), :class => 'input-small') %> of the fields below:</h4>

        <div id="advanced_search">
          <%= render 'advanced/advanced_search_fields' %>
        </div>
      </div>
           <div class="limit_column offset1 span4">
        <h4><strong>AND</strong> have these attributes:</h4>

        <div id="advanced_search_facets" class="limit_input sidenav">
          <%= render 'advanced_search_facets' %>
        </div>
      </div>
  </div>

  <% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
    <div class="constraints">
      <h4>Within search:</h4>
      <%= search_context_str %>
    </div>
  <% end %>


  <div class="sort_submit_buttons well clearfix">
    <div class="pull-left">
  <%= label_tag(:sort, "Sort results by") %>
    <%= select_tag(:sort, options_for_select(sort_fields, h(params[:sort]))) %>
  <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
</div>
<div class="pull-right">
    <%= submit_tag 'Search', :class=>'btn btn-primary', :id=>'advanced_search' %>
  <%= link_to "Start over", {:controller => "advanced", :action => "index"}, :class =>"reset btn" %>
</div>
  </div>
<% end %>
