<% content_for :page_title, "Bulk Task " + @child.id.to_s %>

<div id="content" class="span12">
  <h2>Bulk Task <%= @child.id %></h2>
  <table class="table">
    <thead>
      <th>Bulk Task</th>
      <th>Status</th>
      <th>Ingested Asset</th>
      <th>Target</th>
      <th>Created</th>
      <th>Updated</th>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to @child.bulk_task.directory, @child.bulk_task %></td>
        <td><%= @child.status %></td>
        <% if @child.asset.nil? %>
          <td></td>
        <% else %>
          <td><%= link_to @child.asset.title, reviewer_path(@child.asset.pid) %></td>
        <% end %>
        <td><%= @child.target %></td>
        <td><%= @child.created_at %></td>
        <td><%= @child.updated_at %></td>
      </tr>
    </tbody>
  </table>
  <% if @child.errored? %>
    <h3>Result</h3>
    <%= @child.result[:result] %>
    <br>
    <h3>Error Message</h3>
    <%= @child.result[:error][:message] %>
    <br>
    <h3>Stack Trace</h3>
    <pre>
<%= @child.result[:error][:trace].join("\n") %>
    </pre>
  <% end %>
</div>
