<div id="ingest-form-container">
  <%= ingest_form_for(@form.form) do |f| %>
    <%= form_errors(f) %>

    <%= f.label :template_name %>
    <%= f.text_field :template_name, :value => @form.asset.name %>
    <%= render "ingest/internal_group_fields", :form => @form.form, :f => f %>

    <%= form_submit(f) %>
  <% end %>
</div>

<script>
  var controlledVocabMap = <%= raw(@controlled_vocab_map.to_json) %>;
</script>
