<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid black">
        <a class="pull-left" href="http://library.uoregon.edu">
        <%= image_tag "oregondigital/uolib_white.gif", :alt => "University of Oregon Libraries" %>
        </a>
        <a class="pull-right" href="http://osulibrary.oregonstate.edu">
          <%= image_tag "oregondigital/osulib_white.gif", :alt => "Oregon State University Libraries" %>
        </a>

    </div>
    <div class="container">
      <div class="row">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="span3">
          <%= link_to application_name, root_path, :class => "brand" %>
        </div>
        <div class="span9">
          <div class="row">

          <div class="span5 clearfix" id="searchbar">
          <%= render_search_bar  %>
        </div>

        <div class="span3 nav-collapse">
          <%= render :partial=>'/user_util_links' %>

        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
