<div class="nested-fields form-fields-wrapper" data-group="<%= f.object.group %>">
  <%= f.input :type, :collection => INGEST_MAP[f.object.group.to_sym].keys, :input_html => {:class => "input-medium type-selector"} %>
  <%= f.input :value, :input_html => {:class => "input-xxlarge value-field"} %>
  <%= f.hidden_field :internal %>

  <div class="control-group">
    <div class="controls">
      <%= link_to_remove_ingest_association(f) %>
    </div>
  </div>

  <hr />
</div>
