<h2>Ingest Digital Object</h2>

<div id="ingest-form-container">
  <%= ingest_form_for(@form) do |f| %>
    <%= form_errors(f) %>
    <%= render "internal_group_fields", :f => f %>
    <%= render "unmapped_associations", :form => @form %>
    <%= render "raw_statements", :form => @form %>
    <%= form_submit(f) %>
  <% end %>
</div>

<script>
  var controlledVocabMap = <%= raw(@controlled_vocab_map.to_json) %>;
</script>
