<%= content_for :page_title, 'Vocabularies' %>
<div id="content" class="span12">

  <h2>Vocabularies</h2>

  <p>These Vocabularies are defined in Oregon Digital, and are combined together in <a href="/controlled_vocabularies">Controlled Vocabularies</a> to control what values are allowed on a property.</p>

  <ul>
    <% RDF_VOCABS.sort.each do |vocab| %>
      <li><a name="<%= vocab[0] %>"></a><%= vocab[0] %> - <%= link_to vocab[1].first[1], vocab[1].first[1] %></li>
    <% end %>
    </ul>
  <p><%= RDF_VOCABS.count %> total</p>

</div>
