<div class="row">
  <div class="span8 alert alert-info">
    Oregon Digital is undergoing a migration to a new system. Some collections may not be available in the interim. Please contact <a href="mailto:dsc@uoregon.edu">dsc@uoregon.edu</a> or <a href="mailto:maura.valentino@oregonstate.edu">maura.valentino@oregonstate.edu</a> with questions.
  </div>
<div class="span5 welcome">
  <%= image_tag "oregondigital/logo-lg.png", :alt => "Oregon Digital Logo" %>
  <div class="collections-link"><%= link_to "Collections List", sets_index_path %><br />
  View a list of Digital Collections.</div>
  <p>The OSU and UO Libraries' Digital Collections are created
  to support the teaching and research mission of the
  Oregon University System. The collections are composed
  of unique digitized and born digital materials including
  photographs, journal articles, sheet music, manuscripts,
  ephemera, and more. The collections are managed by <a href="http://digitalscholarship.uoregon.edu/">UO
  Digital Scholarship Center</a> and <a href="http://cdss.library.oregonstate.edu">OSU Libraries Center for
  Digital Scholarship and Services.</a></p>
</div>
<div class="span3 imagecolumn">
  <%= image_tag "oregondigital/children.jpg", :alt => "Children with Flowers" %>
  <%= image_tag "oregondigital/jellyfish.jpg", :alt => "Jellyfish" %>
  <%= image_tag "oregondigital/rotunda.jpg", :alt => "OSU Libraries Rotunda" %>
  </div>
</div>


