<div class="row">
<div class="span6 welcome">
  <%= image_tag("oregondigital/od-large.svg", :alt => "Oregon Digital logo", :class => "homelogo") %>
  <div class="collections-link"><%= link_to "Browse by Collection", sets_index_path, { :class=>"btn btn-info" } %><br />
  View a list of digital collections.</div>
  <p>The collections of Oregon Digital are primarily created to support the teaching and research missions of the <a href="http://www.uoregon.edu">University of Oregon</a> and <a href="http://www.oregonstate.edu">Oregon State University</a>. The collections are comprised of unique digitized and born-digital materials including photographs, articles, sheet music, manuscripts, ephemera, and more. Oregon Digital is collaboratively managed by the <a href="http://digitalscholarship.uoregon.edu/">Digital Scholarship Center</a> of the <a href="http://library.uoregon.edu">University of Oregon Libraries</a> and by <a href="http://library.oregonstate.edu">Oregon State University Libraries</a>.</p>
</div>
<div class="span3 imagecolumn">
  <%= image_tag "oregondigital/children.jpg", :alt => "Children with Flowers" %>
  <%= image_tag "oregondigital/jellyfish.jpg", :alt => "Jellyfish" %>
  <%= image_tag "oregondigital/rotunda.jpg", :alt => "OSU Libraries Rotunda" %>
  </div>
</div>
