<div class="row">
<div class="span5 welcome">
  <div class="warning"><p>Oregon Digital is temporarily experiencing difficulties serving full-sized images within the image viewer. We are working to correct the issue. Thank you for your patience.</p></div>
  <%= image_tag "oregondigital/logo-lg.png", :alt => "Oregon Digital Logo" %>
  <div class="collections-link"><%= link_to "Collections List", sets_index_path %><br />
  View a list of Digital Collections.</div>
  <p>The collections of Oregon Digital are primarily created to support the teaching and research missions of the <a href="http://www.uoregon.edu">University of Oregon</a> and <a href="http://www.oregonstate.edu">Oregon State University</a>. The collections are comprised of unique digitized and born-digital materials including photographs, articles, sheet music, manuscripts, ephemera, and more. Oregon Digital is collaboratively managed by the <a href="http://digitalscholarship.uoregon.edu/">Digital Scholarship Center</a> of the <a href="http://library.uoregon.edu">University of Oregon Libraries</a> and the <a href="http://cdss.library.oregonstate.edu">Center for Digital Scholarship and Services</a> of <a href="http://library.oregonstate.edu">Oregon State University Libraries</a>.</p>
</div>
<div class="span3 imagecolumn">
  <%= image_tag "oregondigital/children.jpg", :alt => "Children with Flowers" %>
  <%= image_tag "oregondigital/jellyfish.jpg", :alt => "Jellyfish" %>
  <%= image_tag "oregondigital/rotunda.jpg", :alt => "OSU Libraries Rotunda" %>
  </div>
</div>
