<%# default partial to display solr document fields in catalog show view -%>
<%= render :partial => decorated_object.view_partial, :locals => {:document => document} %>

<dl class="dl-horizontal  dl-invert">
  <% decorated_object.sorted_show_fields.each do |field| -%>
    <dt class="blacklight-<%= field.parameterize %>"><%= decorated_object.field_label(field) %></dt>
    <dd class="field-values blacklight-<%= field.parameterize %>">
      <% for value in decorated_object.field_values(field) %>
        <span class="value"><%= value %></span>
      <% end %>
    </dt>
  <% end -%>
</dl>
