<div class="span6" id="ip-ranges">
  <h3 class="text-center">IP Ranges:</h3>
  <ul>
    <% @role.ip_ranges.each do |range| %>
      <li><%= range.ip_start %> - <%= range.ip_end %></li>
      <% if can? :remove_ip_range, Role %>
        <%= button_to "Remove Range", role_ip_range_path(@role, range.id), :method => :delete, :class => 'btn btn-danger' %>
      <% end %>
    <% end %>
  </ul>
  <h3 class="text-center">Add a new IP Range</h3>
  <%= bootstrap_form_tag role_ip_ranges_path(@role) do %>
    <%= bootstrap_text_field_tag 'ip_range_start', '', :label => "IP Start" %>
    <%= bootstrap_text_field_tag 'ip_range_end', '', :label => "IP End" %>
    <%= bootstrap_actions do %>
      <%= bootstrap_submit_tag "Add" %>
      <%= bootstrap_cancel_tag %>
    <% end %>
  <% end %>
</div>