
  <h3>Accounts:</h3>
  <ul>
    <% @role.users.each do |user| %>
      <li><%= user.user_key %>
        <% if can? :remove_user, Role %>
          <%= button_to "Remove User", role_management.role_user_path(@role, user), :method=>:delete, :class=>'btn btn-danger' %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <h3>Add a new account:</h3>
  <%= bootstrap_form_tag role_management.role_users_path(@role) do %>
    <%= bootstrap_text_field_tag 'user_key', '', :label=>'User' %>
    <%= bootstrap_actions do %>
      <%= bootstrap_submit_tag "Add" %>
      <%= bootstrap_cancel_tag %>
    <% end %>
  <% end %>
