<% content_for :page_title, "Edit Role: " + @role.name %>

<h2>Edit Role: <%= @role.name %></h2>

<div class='span4'><%= render 'user_form' %></div>
<div class='span4'>
  <h3>Role:</h3>
  <%= bootstrap_form_for @role, :url=>role_management.role_path(@role) do |f| %>
    <%= f.text_field :name, :label=> 'Role name', :class => :inline %>
    <%= bootstrap_actions do %>
      <%= f.submit "Update" %>
      <% if can? :destroy, Role %>
        <%= link_to "Delete", role_management.role_path(@role), :method=>:delete, :class=>'btn btn-danger' %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class='span4'><%= render 'ip_form' %></div>


