<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>

    <%= stylesheet_link_tag "application", "//fonts.googleapis.com/css?family=Gudea:400,400italic,700" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

<% if @set %>
  <% content_for(:body_class, ["sets", @set.institution_class].join(' ')) %>
    <body class="<%= render_body_class %> <%= yield (:body_class) %>">
    <%= render :partial => '/sets/header_navbar' %>
<% else %>
  <% if can?(:show, Role) -%>
    <% content_for :body_class, "admin " %>
  <% end -%>
  <body class="<%= render_body_class %> <%= yield (:body_class) %>">
    <%= render :partial => '/shared/header_navbar' %>
<% end %>

<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

<!-- /container -->
<div id="main-container" class="container">
  <!-- Top bar -->
  <div id="search-found" class="row hidden-phone">
    <%= topbar_items.join('').html_safe %>
  </div>
  <!-- /Top bar -->
  <div class="row">
    <div class="span12">
      <div id="main-flashes">
        <%= render :partial=>'/flash_msg' %>
      </div>
    </div>    
  </div>              
  <% if @set %>
    <h1><a href="<%= "/sets/#{@set.pid.split(':').last}" %>"><%= @set.title %></a></h1>
  <% end %>
  <div class="row">
   <%= yield %>
  </div>   
</div>

<% if @set %>
  <%= render :partial => '/sets/footer' %>
<% else %>
  <%= render :partial => '/shared/footer' %>
<% end %>

</body>
</html>
